.back-button {
    padding: 4px 12px 4px 12px;
    color: whitesmoke;
    background-color: rgb(14, 58, 103);
    border: none;
    border-radius: 4px;
  }
  .w-100 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 30%;
    Float: left;
   margin-right: 20px;
  
  }
  .movie-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: Bold;


  }
  .movie-genre {
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .movie-director {
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .movie-description {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
   
  