.userLogin {
    border: 2px solid #ccc; /* Add solid borders */
    border-radius: 8px; /* Add border radius for rounded corners */
    padding: 20px; /* Add padding for spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  
    /* Center the form horizontally */
    margin: 0 auto;
    max-width: 400px; /* Set maximum width for responsiveness */
  }
  
  .inputGroup {
    margin-bottom: 20px; /* Add margin between input groups */
  }
  
  .loginButton {
    padding: 10px 20px; /* Add padding to the button */
    border-radius: 8px; /* Add border radius for rounded corners */
    transition: transform 0.3s, background-color 0.3s; /* Add transition effects */
  }
  
  .loginButton:hover {
    transform: scale(1.05); /* Scale button on hover */
    background-color: #0069d9; /* Change background color on hover */
  }
  
  .loginForm {
    width: 100%; /* Set width of form controls to 100% */
    padding: 10px; /* Add padding to form controls */
    border: 1px solid #ced4da; /* Add border to form controls */
    border-radius: 4px; /* Add border radius for rounded corners */
  }
  
  .userLogin h1 {
    margin-bottom: 20px; /* Add margin below heading */
    font-size: 24px; /* Increase font size of heading */
    color: black; /* Change text color of heading */
  }